---
const {myData} = Astro.props;
console.log(myData)
---

<a href= {`artistinfo/${data.slug}`}>
<article>
    <h1>{myData.artist_name}</h1>
    <h2>{myData.date}</h2>
    <h2>{myData.time_stable}</h2>
    <p>{myData.artist_description}</p>
</article>
</a>